<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let promo of promociones">
    <img [src]="promo.imagen" alt="Promo" />
    <ion-card-header>
      <ion-card-title>{{ promo.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ promo.descripcion }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <strong>Precio: </strong>{{ promo.precio | currency:'S/.' }}
    </ion-card-content>
  </ion-card>

  <div *ngIf="promociones.length === 0" class="ion-text-center">
    <ion-text color="medium">
      No hay promociones disponibles en este momento 🍕
    </ion-text>
  </div>
</ion-content>
<app-footer></app-footer>
